<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesCarritoCompras.css">
    <script src="https://kit.fontawesome.com/117d4d8bac.js" crossorigin="anonymous"></script>
    <link href = "https://fonts.googleapis.com/css2? family = Karantina: wght @ 300 & display = swap" rel = "stylesheet">
</head>
<body>
<!-- Carrito de compras -->
<div class='container'>
  <div class='container-header'>
    <div class='container-header-logo'>
      <a href="/"><img class=logo src="/images/logo.png"></a>
      <a href="/"><img class=logo-mini src="/images/logo-mini.png"></a>
    </div>
    <div class='container-header-ss'>
      <i class="fas fa-lock" width=10px height=10px></i>
      <i>Sitio seguro</i>
    </div>
  </div>
  <div class='carrito-compras'>
    <h1>Mi carrito</h1>
    <div class='carrito-main'> 
      <div class='carrito-main-left'>
        <div class='carrito-main-left-productA'>
          <div class='imagen-producto'>
            <img src="/images/SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV.jfif" alt="smartTV">
          </div>
          <div class='descripcion-producto'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
          <div class='precio-producto'>$65.000</div>
          <div class='delete-producto'>
            <button class="eliminar-button" type="delete">Eliminar</button>
          </div>
        </div>
      </div>
      <div class='carrito-main-right'>
        <div class='carrito-main-right-desc'>
          <div class='codigo-descuento-text'>Tenés código de descuento</div>
          <div class='codigo-descuento-insert'>
            <div class='codigo'>
              <input class="input-discount" type="value" name="discount" required>
            </div>
            <div class='aplicar-codigo'>
              <button class="aplicar-button" type="submit">Ingresar</button>
            </div>
          </div>
        </div>
        <div class='carrito-main-right-subtotal'>
          <div class='subtotal-text'>Subtotal</div>
          <div class='subtotal-monto'>65.000</div>
        </div>
        <div class='carrito-main-right-total'>
          <div class='total-text'>Total</div>
          <div class='total-monto'>65.000</div>
        </div>
        <div class='carrito-main-right-botton1'>
          <button class="finalizarcompra-button" type="submit">Finalizar compra</button>
        </div>
        <div class='carrito-main-right-botton1'>
          <form action="/">
            <input type="submit" value="Continuar comprando" class='continuarcomprando-button' />
        </form>
        </div>
      </div>
    </div>
  </div>
    <div class='recomendaciones-banner'>
      <div class='recomendacion'>Recomendación 1</div>
      <div class='recomendacion'>Recomendación 2</div>
      <div class='recomendacion'>Recomendación 3</div>
      <div class='recomendacion'>Recomendación 4</div>
    </div>
</div>
</body>