<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladeras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesCatHeladera.css">
    <script src="https://kit.fontawesome.com/117d4d8bac.js" crossorigin="anonymous"></script>
    <link href = "https://fonts.googleapis.com/css2? family = Karantina: wght @ 300 & display = swap" rel = "stylesheet">
</head>
<body>
  <header class="main-header">
      <div class="main-header-left">
        <a href="/"><img class=logo src="/images/logo.png"></a>
        <a href="/"><img class=logo-mini src="/images/logo-mini.png"></a>
      </div>
      <div class="main-header-center">
        <div class="main-header-center-left">
            <form action="productos" method="POST" class="bar"></form>
            <label"></label>
            <input type="text" name="buscador" placeholder="Que buscabas?" class="buscador">
            <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="main-header-center-right">
            <ul class="user">
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/registro">Registrate<i class="fas fa-user-plus"></i></a></li>
              </ul>
        </div>
      </div>
     <div class="main-header-right">
                <a href="/carritoCompras"><i class="fas fa-shopping-cart"></i></a> 
     </div>
  </header>

  <main class="cat-aire"> 
    <br>
    <h2>Heladeras</h2>
    <br>
    <section class="productos">
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera1.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera2.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera3.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera4.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera5.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera6.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera7.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/detalleProducto/"><img src="/images/heladera8.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
    </section>
  </main>
 
  <footer class="footer">
    <div class="main-footer">
      <div class="footer-left">
        <div class="footer-left1">
          <a href="/"><img class=logo-footer src="/images/logo.png"></a>
        </div>
        <div class="footer-left2">
          <ul class="redes">
            <li><a href="/facebook.com/electroHogar" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="/twitter.com/electroHogar" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="/instagram.com/electroHogar" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-center">
        <p><strong> Venta telefonica:0800-333-5555 <i class="fas fa-phone-alt"></i></strong></p>
        <p>Horarios: Lu a Vi de 10hs a 18hs</p>
        <br>
        <p><strong>Atención al cliente:0800-333-2222 <i class="fas fa-phone-alt"></i></strong></p>
        <p>Las 24hs</p>
      </div>
      <div class="footer-right">
        <p><strong>© Copyright 2021 | Todos los derechos reservados electroHogar.com.
           electroHogar S.A | Capital Federal | Argentina </strong></p>
           <br>
           <p class="derechos">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos 
             publicados está sujeta a la verificación de stock. Los precios online y 
             los planes de financiación para los productos presentados/publicados en 
             www.electroHogar.com.ar son válidos exclusivamente para la compra vía 
             internet en las páginas antes mencionadas.Las especificaciones técnicas 
             y descripciones están sujetas a cambios sin previo aviso.</p>
      </div>
    </div>
  </footer>
</body>