<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Electro Hogar</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesDetalleProducto.css">
    <script src="https://kit.fontawesome.com/117d4d8bac.js" crossorigin="anonymous"></script>
    <link href = "https://fonts.googleapis.com/css2? family = Karantina: wght @ 300 & display = swap" rel = "stylesheet">
</head>
<body>
  <main>
    <div class='main-product'>
      <div class='main-product-principal'>
 <!-- Muestra imagen del producto -->
        <div class='main-product-left-top'>
          <img src="/images/SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV.jfif" alt="Smart TV Hisense 50 pulgadas">
        </div>
 <!-- Fin de la muestra del producto -->
<!-- Comienza condiciones de venta -->
    <div class='main-product-right-top'>
      <h1>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</h1>
      <div class='condiciones-pago'>
      <article class='condiciones-pago-article'>
      <div class='price-wrapper'>
       <p class='precio-contado'>
         <strong>Precio de contado:</strong> 
        <span class='precio-contado'>$65000</span>
      </p> 
      </div>
      <div class='planes-cuotas'>  
        <div>
        <span class='precio-cuotas'> <img src="https://images.fravega.com/f64/5ca9b33896079f3d56ac0a01038d568a.png" alt="mastercard" widht=20>12 cuotas sin interés de $ 5.166.58</span>
        </div>
        <div>
          <span class='precio-cuotas'> <img src="https://images.fravega.com/f64/d91d7904a85783a86377e30feb87e7ff.png" alt="mastercard" widht=20>12 cuotas sin interés de $ 5.166.58</span>
        </div>
      </div>  
    </article>
  </div>
      <div>
          <!-- Tiene que ser un boton--> 
        <span class='agregar-carrito'>Agregar al carrito</span>
      </div> 
    </div>   
  </div>
  <!-- Termina condiciones de venta--> 
<div class='main-product-right-bottom'>
  <!-- Descripción del producto-->
<div class='product-description-model'>
</div>
  <!-- Termina descripcion del producto -->
    <!-- Detalles del producto-->
<div class='product-description-model'>
</div>
    <!-- Termina detalle del producto-->
</div>
    <!-- Termina descripcion del producto-->
  </div>
</main>
</body>

