*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    position: relative;
    width: 110px;
    padding-top: 15px;
}

.acomodar-header{
    background-color: rgb(217,217,217);
    width: 100%;
    top: 0;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.main-header{   
    max-width: 1300px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    margin: 0 5px;
    padding-left: 10px;
    padding-right: 10px
}
.main-header-center{
    position: relative;
    top: 3px;
}
.burger-menu{
    font-size: 30px;
    padding: 15px;
    border-radius: 5px;
    color: rgb(10,74,173);
    position: relative;
    right: -5px;
    top: -5px;
}

.user{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -30px;
    margin-top: 10px;
    align-items: center;
}

.buscador{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 35px;
    font-size: 13px;
    border: none;
    position: relative;
    top: -5px;
    padding-left: 5px;
    box-shadow: 0 0 3px grey;
}
.lupita{
    font-size: 14px;
    position: relative;
    left: -30px;
    top: -3px;
    border: none;
    background-color: transparent;
    color: rgb(10,74,173);
}

.main-header-right{
    font-size: 15px;
}

.main-header-right ul{
    list-style: none;
}

.main-header-right a{
    text-decoration: none;
    color: rgb(10,74,173);
}

.main-header-right a:hover{
    font-weight: bold;
}

.slider{
    padding-top: 50px;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}
.agrandar-carrito{
    font-size: 30px;
}
.agrandar-carrito:hover{
    color: rgb(9, 58, 131);
}
.user-nav{
    margin-left:5px;
    margin-right: 5px;
}
.arrow-usuario{
    width: 15px;
    position: relative;
    top: 4px;
    transition: all 0.4s;
}
.arrow-usuario:active{
    transform: rotate(180deg);
}

@keyframes cambio {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    50% {margin-left: -100%}
    70% {margin-left: -100%}
}

@media(min-width:480px){
    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .buscador{
        width: 85%;
        font-size: 17px;
    }
    .lupita{
        font-size: 20px;
    }
}

@media(min-width:769px){
    .main-header{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
    .user{
        display: flex;
    }

    .main-header-center{
        flex-grow: 1;
        padding-left: 50px;
    }
    .lupita{
        left: -35px;
        border-left: 1px solid grey ;
        padding-left: 5px;
    }
}