*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Container*/

.container{
    display:flex;
    background-color: burlywood;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    height: 1000px;
}

/*Container header*/

.container-header{
    display:flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    height: 10%;
}

.logo{
        display: block;
        width: 70px;
        padding-top: 10px;
}

.logo-mini {
    width: 40%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}


.container-header-ss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/*Carrito de compras*/

.carrito-compras{
    display:flex;
    background-color: burlywood;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
    height: 70%;
}

.carrito-compras h1{
    align-self: left;
    margin: 5px;
    padding: 5px;
}

/*Carrito container*/

.carrito-main{
    display: flex;
    flex-direction: row;
    background-color: green;
    justify-content: space-between;
    border: 1px solid gray;
    height: 100%;
    margin:5px;
}

/*Carrito de compras left*/

.carrito-main-left{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 75%;
    height: 90%;
    margin:10px;
    padding: 5px;
}

/*Carrito de compras left Product A*/

.carrito-main-left-productA{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 30%;
    margin:5px;
    padding: 1px;
}

.imagen-producto{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 20%;
    margin:5px;
    padding: 1px;
    text-align: center;
}


.imagen-producto img{
    width: 100%;
    padding: 5px;
}

.descripcion-producto{
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    width: 25%;
    height: auto;
    margin:5px;
    padding: 5px;
    text-align: center;
}

.descripcion-producto p{
    font-size: 10px ;
}


.precio-producto{
    flex-direction: row;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin:5px;
    padding: 5px;
    background-color: white;
}


.delete-producto{
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    width: 15%;
    margin:5px;
    padding: 5px;
    text-align: center;
}


/*Carrito de compras right*/


.carrito-main-right{
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    width: 25%;
    height: 90%;
    margin:5px;
    padding: 5px;
}

.carrito-main-right-desc{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: auto;
    margin:5px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center ;
}


.codigo-descuento-text{
    font-size: 12px;
    border: 1px solid black;
    height: auto;
    margin:5px;
    padding: 5px;
}


.codigo-descuento-insert{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 12px;
    border: 1px solid black;
    height: auto;
    margin:2px;
    padding: 1px;
}

.codigo{
    font-size: 12px;
    border: 1px solid black;
    width: 70%;
    height: auto;
    margin:1px;
    padding: 1px;
}

.aplicar-codigo{
    font-size: 12px;
    border: 1px solid black;
    width: 30%;
    height: auto;
    margin:1px;
    padding: 1px;
}

.carrito-main-right-subtotal{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: auto;
    margin:5px;
    padding: 5px;
}


.carrito-main-right-total{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: auto;
    margin:5px;
    padding: 5px;
}


.carrito-main-right-botton1{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    height: 10%;
    margin:5px;
    padding: 5px;
}




/*Recomendaciones*/

.recomendaciones-banner{
    display:flex;
    background-color: burlywood;
    flex-direction: row;
    margin-top:5px ;
    width: 100%;
    height: 15%;
    border: 1px solid black;
}

.recomendacion{
    margin:5px ;
    width: 24%;
    height:95%;
    border: 1px solid black;
    margin-top:5px;
}
