*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.logo-mini {
    height: 70px;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
} 
.container{
    max-width: 1250px;
    margin: auto;
}
.container-header{
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(217,217,217);
    padding: 10px;
    position: fixed;
    z-index: 10;
}
.container-header-logo{
    width: 50%;
}
.container-header-ss{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.carrito-compras{
    margin-top: 120px;
}
.mi-carrito-header{
    margin-left: 10px;
    color: rgb(10,74,173);
}
.product-image{
    border-bottom: 2px solid rgba(0,0,0,0.7);
}
.product-description{
    margin-top: 15px;
    color: rgb(39, 56, 112);
    font-weight: bolder;
}
.carrito-main-left-products{
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}
.delete-button{
    border: none;
    font-size: 1.25em;
}
.delete-button:hover{
    color:rgb(194, 40, 40);
}
.product-price{
    font-weight: bold;
}
.carrito-main-right{
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}
.codigo-descuento-text{
    font-weight: 600;
}
.codigo input {
    overflow: visible;
    background-blend-mode: darken;
}
.subtotal-text{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.25em;
}
.a
.carrito-descuento{
    border-bottom: black 2px solid;
    margin-bottom: 15px;
}
.aplicar-descuento{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.25em;
}
.descuento-cupon{
    font-weight: bolder;
    font-size: 1.3em;
    color: green;
    margin-bottom: 10px;
}
.subtotal-monto{
    text-decoration: line-through;
    color: black;
}
.aplicar-button{
    background-color: rgb(217,217,217);
    border: none;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: all 0.7s;
}
.finalizarcompra-button{
    background-color: rgb(217,217,217);
    border: none;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: all 0.7s;
}
.continuarcomprando-button{
    background-color: rgb(217,217,217);
    border: none;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: all 0.7s;
}

.aplicar-button:hover{
    background-color: rgb(10,74,173);
    color: white;
}

.finalizarcompra-button:hover{
    background-color: rgb(10,74,173);
    color: white;
}

.continuarcomprando-button:hover{
    background-color: rgb(10,74,173);
    color: white;
}

.carrito-main-right-total{
    display: flex;
    justify-content: space-evenly;
    color: rgb(12, 39, 80);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.acomodar-botones {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.finalizarcompra-button,
.continuarcomprando-button{
    border: none;
    height: 2em;
    margin: 5px;
    padding: 3px;
    font-weight: 400;
    color: white;
    background-color: rgba(12, 39, 80,0.9)  
}

.agregaralcarrito-button:hover{
    background-color:rgb(10,74,173) ;
}

.recomendaciones{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(10,74,173);
    font-weight: 900;
}

.recomendacion{
    border: 2px black solid;
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    transition: all 0.8s;
}

.recomendacion:hover{
    box-shadow: 10px 10px 10px black;
}

.recomendación-producto-descripcion{
    font-weight: bold;
    margin: 10px;
}

.agregaralcarrito-button{
    border: none;
    height: 1.5em;
    padding: 3px;
    background-color: darkblue;
    color: white;
    font-weight: 400;
}

.recomendaciones-banner{
    margin-top: 25px;
    margin-bottom: 50px;
}

.recomendacion{
    flex-basis: calc(45% - 10px);
}

@media(min-width:480px){
    .logo-mini{
        display: none;
    }
    .logo{
        display: flex;
        width: 100%;
    }
    .container-header{
        align-items: center;
    }
    .finalizarcompra-button{
        height: 2em;
    }
    .continuarcomprando-button{
        height: 2em;
    }
    .acomodar-botones{
        display: flex;
        flex-direction: row;
    }
}
@media(min-width:769px){
    .logo{
        max-height: 70px;
        width: auto;
    }
    
    .carrito-main{
        display: flex;
        justify-content: space-around;
    }

    .carrito-main-left,
    .carrito-main-right{
        flex-grow: 0.5;
    }

    .carrito-main-right{
        max-height: 400px;
        position: relative;
        top: 150px;
    }

    .recomendaciones-banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
} 
@media(min-width:1200px){
    .product-image{
        border: none;
    }
    
    .carrito-main-left-products {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .carrito-main-right{
        position: relative;
        top: 0;
    }
    .cantidad{
        width: 400px;
    }
    .product-description{
        max-width: 350px;
    }
    .cantidad-precio{
        display: flex;
        flex-direction: column;
    }
    .recomendaciones-banner{
        flex-wrap: nowrap;
    }
}