*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NO BORRAR*/
.main-header{
    background-color: rgb(217,217,217);
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    top: 0;
}
.container-article{
    max-width: 1250px;
    margin: auto;
}


.article{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.article-title{
    margin-left: 15px;
    text-align: left;
    color: #3c6e71	;
}

.article-top {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

.article-top-right {
    padding: 40px;

}
.article-top-right img{
    width: 250px;
}

.article-top-left {
    padding: 20px;
    margin: 15px;
    border: #00000047 1px solid;
    text-align: center;
    border-radius: 10px;
}

.box-precio{
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    color:#284b63;
}

.box-tarjetas{
    margin:10px 0;
}

.tarjeta-cuotas{
    font-weight: 800;
}

.box-comprar{
    text-align: center;
}

.comprar-button{
    background-color: rgb(217,217,217);
    text-align: center;
    border: none;
    color: #353535	;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #353535;
    transition: all 0.7s;
}

.comprar-button:hover{
    background-color: #284b63;
    color: white;
    box-shadow: 5px 5px 10px #353535;
}

.article-bottom{
    margin: 20px 15px;
}

.article-descripcion{
    margin: 10px 0;
    padding: 5px;
    border: #353535	 1px solid;
    border-radius: 5px;
}

.descripcion-title{
    margin: 10px 0;
    border-bottom: #353535 2px solid;
}

.article-table{
    margin: 30px 0;
    padding: 0;
}

.table-title{
    color: #353535;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.table-specifications {
    display: table;
    border-collapse: collapse;
    width: 100%;
    padding:10px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
}
    
.table-specifications th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}

.table-specifications td {
    border:1px solid #C0C0C0;
    padding:5px;
}

.product-specification {
    font-weight: bold;
}

/* corousel */


@media(min-width:480px){
    .article-top-right img{
        width: 300px;
    }
}

@media(min-width:769px){
    .article-title{
        border-bottom: solid 2px rgba(88, 84, 84,0.7) ;
    }
    .article-top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .article-top-right{
        border: none;
        box-shadow: none;
    }
    .article-top-right img{
        width: 350px;
    }
}

@media(min-width:1200px){
    .article-top-right img{
        width: 450px;
    }
}