*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    display: none;
}
.logo-mini {
    width: 40%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}
.main-header{
    background-color: rgb(217,217,217);
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -30px;
    margin-top: 10px;
}

.main-header-center-right ul{
    list-style: none;
}
.main-header-center-right a{
    text-decoration: none;
    color: rgb(10,74,173);
}
.buscador{
    width: 75%;
}

/*Main*/

.article{
    position:relative;
    padding-top: 70px;
} 

.article-top{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-around;
    margin: 10px;
} 

.article-top-left{
    margin: 40px;
}

.article-top-left-title{
    font-size: 15px;
    width: 80%;
}

.article-container-images{
    width: 500px;
    height: 500px;
}

.article-container-images img{
    width: 500px;
    height: 500px;
}

.box-condiciones-pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

.tarjeta-cuotas{
    font-size: 20px;
    margin-left: 10px;
}
.box-precio{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}


.box-comprar{
    margin-right: 20px;
    margin-top: 10px;
    padding: 13px 18px;
    font-weight: bold;
    border: 0px;
    color: white;
    text-align: center;
    background-color: rgb(3, 0, 153);
    text-decoration: none;
    height: 50%;
    width: 80%;
}


.comprar-button{
    margin-right: 20px;
    margin-top: 10px;
    padding: 13px 18px;
    font-weight: bold;
    border: 0px;
    color: white;
    text-align: center;
    background-color: rgb(3, 0, 153);
    text-decoration: none;
    height: 50%;
    width: 50%;
}

.article-bottom{
    display: flex;
    flex-direction: column;
    width: 88%;
}

.article-descripcion{
    margin-left: 30px;
}

.descripcion-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.table-title{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}




.table-specifications {
    display: table;
    border-collapse: collapse;
    width: 100%;
    padding:10px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
}

    
.table-specifications th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}

.table-specifications td {
    border:1px solid #C0C0C0;
    padding:5px;
}

.product-specification {
    font-weight: bold;
}


/* Footer*/

.footer{
    padding-top: 10px;
    background-color: rgb(217,217,217);
    text-align: center;
    border-top: white 2px solid ;
}
.logo-footer{
    width: 50%;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-left2 ul{
    list-style: none;
}

.footer-left2 a{
    text-decoration: none;
    color: rgb(10,74,173);
}

.footer-left2 i{
    font-size: 40px;
    padding:10px 0 ;
}

.footer-center{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 10px 0;
}
.footer-right p{
    font-size: 12px;
}

.derechos{
    font-size: 10px;
}
@media(min-width:480px){
    .logo-mini{
        display: none;
    }
    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .main-header-center-right{
        padding-right: 20px;
        padding-left: 20px;
    }
    .article-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 10px;
}
}

@media(min-width:769px){
    .main-header{
        display: flex;
        justify-content: space-between;
}
    .main-header-center{
        flex-grow: 1;
        padding-left: 50px;
    }
    .main-header-center-right{
        padding-right: 90px;
        padding-left: 240px;
    }
    .footer-center{
        padding: 0;
        margin: 0;
        border-left:0;
        border-right:0;
        border-bottom:0;
        border-top:0;
    }
    .main-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-right{
        border-top: white 2px solid;
        padding-top: 20px;
    }

}
@media(min-width:1200px){
    .footer-right{
        border-top: 0;
        margin-top: -20px;
        max-width: 40%;
    }
    .footer-center{
        padding: 0 10px ;
        margin-right: 20px;
    }
    .main-footer{
        padding-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}
