*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Container*/

.container{
    display:flex;
    flex-direction: column;
    padding: 10px;
}

/*Container header*/

.container-header{
    display:flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 5%;
}

.logo{
        display: block;
        width: 70px;
        padding-top: 10px;
}

.logo-mini {
    width: 40%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}


.container-header-ss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/*Carrito de compras*/

.carrito-compras{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: 70%;
}

.carrito-compras h1{
    align-self: left;
    margin: 5px;
    padding: 5px;
    background: rgb(171, 175, 182);
    width: 100%;
}

/*Carrito container*/

.carrito-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin:5px;
}

/*Carrito de compras left*/

.carrito-main-left{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
    margin:10px;
    padding: 5px;
}

/*Carrito de compras left Product A*/

.carrito-main-left-productA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 20%;
    margin:5px;
    padding: 1px;
    border-bottom: 1px solid gray;
}

.imagen-producto{
    display: flex;
    flex-direction: row;
    width: 18%;
    margin:5px;
    padding: 2px;
    text-align: center;
}


.imagen-producto img{
    width: 98%;
    padding: 5px;
    height: 98%;
}

.descripcion-producto{
    flex-direction: row;
    background-color: white;
    width: 25%;
    height: auto;
    margin:5px;
    padding: 5px;
    text-align: center;
}

.descripcion-producto p{
    font-size: 10px ;
}


.precio-producto{
    flex-direction: row;
    width: auto;
    height: auto;
    margin:5px;
    padding: 5px;
    background-color: white;
}


.eliminar-button{
    flex-direction: row;
    background-color: white;
    color: blue;
    width: 15%;
    margin:5px;
    padding: 5px;
    text-align: center;
    border: none;
}


/*Carrito de compras right*/


.carrito-main-right{
    flex-direction: row;
    background-color: white;
    width: 25%;
    height: 90%;
    margin:2px;
    padding: 1px;
}

.carrito-main-right-desc{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin:2px;
    padding: 1px;
    justify-content: flex-start;
    align-items: center ;
}


.codigo-descuento-text{
    font-size: 12px;
    height: auto;
    margin:5px;
    padding: 5px;
}


.codigo-descuento-insert{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 12px;
    height: auto;
    margin:5px;
    padding: 1px;
}

.codigo{
    font-size: 12px;
    width: 63%;
    height: auto;
    margin-right:5px;
    padding: 2px;
}

.input-discount{
    font-size: 12px;
    height: auto;
    width: 95%;
    margin:5px;
    padding: 2px;
}


.aplicar-codigo{
    font-size: 12px;
    width: 33%;
    height: auto;
    margin-left:5px;
    padding: 2px;
}

.box-compra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin:5px;
    padding: 5px;
    background: rgb(233, 234, 235);
}
.carrito-main-right-subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    margin:5px;
}

.subtotal-text{
    font-size: 15px;
    margin-right: 27px;
    text-align: left;
}

.subtotal-monto{
    text-align: right;
}


.total-text{
    font-size: 20px;
    margin-right: 35px;
    font-weight: bold;
    text-align: left;
}

.total-monto{
    text-align: right;
}

.carrito-main-right-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin:5px;
    padding: 5px;

}


.carrito-main-right-botton1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin:5px;
    padding: 5px;

}


.carrito-main-right-botton2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin:5px;
    padding: 5px;
    border-color: rgb(19, 100, 221);
    border: 1px;
}

.finalizarcompra-button{
    color: white;
    padding: 10px;
    margin:5px;
    width:90%;
    height: 90%;
    border: none;
    white-space: normal;
    background-color: rgb(19, 100, 221);
}

.continuarcomprando-button{
    color: black;
    padding: 10px;
    margin:5px;
    width:90%;
    height: 90%;
    white-space: normal;
    background-color: white;
    border: rgb(19, 100, 221) solid 2px;
}



/*Recomendaciones*/

.recomendaciones-banner{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:5px ;
    width: 100%;
    height: 20%;
}

.recomendacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(252, 246, 246);
    margin-top:5px ;
    width: 32.5%;
    height:95%;
    margin-top:5px;
}

.recomendacion-producto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 75%;
}


.recomendación-producto-photo{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80%;
    width: 35%;
}

.recomendación-producto-photo img{
    padding: 2px;
    align-self: center;
    height: 100px;
    width: 100px;
}

.recomendación-producto-descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 2px;
    width: 65%;
    text-align: center;
}



.recomendacion-agregar-carrito{
    display: flex;
    justify-content: flex-end;
    height: 20%;
    align-items: center;
    border: 1px;
    margin-left: 90px;
}


.agregaralcarrito-button{
    color: white;
    background-color: rgb(19, 100, 221);
    padding: 5px;
}

/*Footer*/


.logo-footer{
    background-color: white;
    margin-top: 25px;
    height: auto;
    width: 200px;
}

@media(min-width:480px){
    .logo-mini{
        display: block;
        width: 150px;
        padding-top: 10px;
    }

    .logo{
        display: none;
    }
    .carrito-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin:5px;
        }
        .carrito-main-right{
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 90%;
    margin:2px;
    padding: 1px;
}
        
}



@media(min-width:769px){
    .logo-mini{
        display: none;
    }

    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .carrito-main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin:5px;
    }
    .carrito-main-right{
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 90%;
    margin:2px;
    padding: 1px;
}
}
@media(min-width:1200px){
    .logo-mini{
        display: none;
    }

    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .carrito-main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin:5px;
    }
    .carrito-main-right{
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 90%;
    margin:2px;
    padding: 1px;
}

}
