*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


main{
    max-width: 1250px;
    margin : auto
}

.barra-busqueda{
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #284b63;
    background-color: rgba(53, 53, 53,0.1);
    width: 50%;
    margin-left: 40px;
    padding-left: 10px;
}
.lupa-busqueda {
    background-color: transparent;
    border: none;
    color: #284b63;
    font-size: 20px;
    position: relative;
    left: -29px;
    top: 2px;
}
.not-found{
    color: #284b63;
    padding-top: 20px;
    padding-bottom: 200px;
}

.venta {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
}
.producto {
    flex-basis: calc(47% - 10px);
}

.venta img{ 
    width: 100%;
    display: block;
    justify-content: center;
}
.padding-top{
    padding-top: 100px;
}

article {
        box-shadow: 5px 5px 30px #353535;
        margin: 10px;
        margin-top: 20px;
        transition: all 0.8s;
    }
article:hover{
    box-shadow: 5px 5px 10px #353535;
    background-color: #d9d9d9 ;
}

.text{
    font-size: 30px;
    color: #3c6e71	;
    margin-left: 12px;
    margin-bottom: 15px;
}

.precio{
    font-size: 18px;
    color: #284b63	;
    font-weight: bold;
    text-align: center;
}

.modelo{
    font-size: 18px;
    color: #353535;
    font-weight: bold;
    text-align: center;
}

.listadoProductos{
    text-align: center;
}

.button-agregar{
    background-color: rgb(217,217,217);
    border: none;
    color: #353535;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: all 0.7s;
}
.button{
    background-color: rgb(217,217,217);
    border: none;
    color: #353535;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: all 0.7s;
}

.button-agregar:hover{
    background-color: #284b63;
    color: white;
}
.button:hover{
    background-color: #284b63;
    color: white;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.button{
    background-color: rgb(217,217,217);
    border: none;
    color: #353535;
    font-size: 15px;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.7s;
}

.button:hover{
    background-color: #284b63;
    color: white;
}

@media(min-width:480px){
    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(31% - 10px);
    }
}

@media(min-width:769px){
    .promo{
        display: flex;
    }
    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(23% - 10px);
    }
}

@media(min-width:1200px){

    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(19% - 10px)
    }
}