*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo{
    display: none;
}
.logo-mini {
    width: 40%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}
.main-header{
    background-color: rgb(217,217,217);
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -30px;
    margin-top: 10px;
}

.main-header-center-right ul{
    list-style: none;
}
.main-header-center-right a{
    text-decoration: none;
    color: rgb(10,74,173);
}
.buscador{
    width: 75%;
}
.main-header-right a{
    color : rgb(10,74,173);
    font-size: 40px;
}
.main-header-center-left i{
    color: rgb(10,74,173);
}
.slider{
    padding-top: 70px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 20s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
@keyframes cambio {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    50% {margin-left: -100%}
    70% {margin-left: -100%}
}

.promo i{
    color: rgb(10,74,173);
}

.promo{
    display: flex;
    font-weight: 600;
}

.promo p{
    width: 100%;
    border: black 2px solid;
    text-align: center;
    font-size: 14px;
}

.promo{
    display: none;
    background: linear-gradient(to bottom, rgb(10,74,173), white)
}

.categorias{
    display: flex;
    width: 100%;
    text-align: center;
}

.categorias img:hover{
    background-color: rgb(10,74,173);
}

.categorias img{
    width: 90%;
    margin-top: 20px;
    border: 1px black solid;
    background-color: rgb(217,217,217);
    border-radius: 50%;
    box-shadow: 0 0 10px;
}
.venta img{ 
    width: 100%;
    display: block;
    justify-content: center;
}

article:hover{
    background-color: rgb(217,217,217)
}

article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
        margin: 10px;
    }

.text{
    font-size: 25px;
    color: rgb(10,74,173);
}
.precio{
    font-size: 18px;
    color: rgb(10,74,173);
    font-weight: bold;
    text-align: center;
}
.modelo{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.footer{
    padding-top: 10px;
    background-color: rgb(217,217,217);
    text-align: center;
    border-top: white 2px solid ;
}
.logo-footer{
    width: 50%;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-left2 ul{
    list-style: none;
}

.footer-left2 a{
    text-decoration: none;
    color: rgb(10,74,173);
}

.footer-left2 i{
    font-size: 40px;
    padding:10px 0 ;
}

.footer-center{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 10px 0;
}
.footer-right p{
    font-size: 12px;
}

.derechos{
    font-size: 10px;
}

@media(min-width:480px){
    .logo-mini{
        display: none;
    }
    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .main-header-center-right{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(47% - 10px);
    }
}

@media(min-width:769px){
    .main-header{
        display: flex;
        justify-content: space-between;
}
    .main-header-center{
        flex-grow: 1;
        padding-left: 50px;
    }
    .main-header-center-right{
        padding-right: 90px;
        padding-left: 240px;
    }
    .promo{
        display: flex;
    }
    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(32% - 10px);
    }

    .footer-center{
        padding: 0;
        margin: 0;
        border-left:0;
        border-right:0;
        border-bottom:0;
        border-top:0;
    }
    .main-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-right{
        border-top: white 2px solid;
        padding-top: 20px;
    }
}

@media(min-width:1200px){
    .venta {
        display: flex;
        flex-wrap: wrap;
    }
    .producto {
        flex-basis: calc(24% - 10px)
    }
    .footer-right{
        border-top: 0;
        margin-top: -20px;
        max-width: 40%;
    }
    .footer-center{
        padding: 0 10px ;
        margin-right: 20px;
    }
    .main-footer{
        padding-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}




