*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    display: none;
}
.logo-mini {
    width: 40%;
    border-left-width: 30px;
    padding: 0 0;
    margin-left: 0;
}
.main-header{
    background-color: rgb(217,217,217);
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -30px;
    margin-top: 10px;
}

.main-header-center-right ul{
    list-style: none;
}
.main-header-center-right a{
    text-decoration: none;
    color: rgb(10,74,173);
}
.buscador{
    width: 75%;
}

/* Main*/

.main-product{
    position:relative;
    padding-top: 70px;
}
/* Main - top*/


.main-product-right-top{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.main-header-right a{
    color : rgb(10,74,173);
    font-size: 40px;}

.main-product-principal{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

.main-header-center-left i{
    color: rgb(10,74,173);
}


.main-product-left-top img{
        display: block;
        width: 400px;
        margin: 10px;
        padding: 10px;
}

.condiciones-pago{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(247, 242, 242);
}

.price-wrapper{
    display: flex;
    width: 100%;
    padding: 10px;
}

.planes-cuotas{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
    font-weight:initial;
}

.planes-cuotas img { 
    width: 50px;
}

.agregar-carrito{
    display: flex;
    margin: 20px;
    padding: 13px 18px;
    border: 0px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: rgb(3, 0, 153);
    text-decoration: none;
    height: auto;
    width: 100%;
}



/* Descripcion y especificaciones*/

.product-description-model{
    margin: 20px;
    padding: 10px;
}


.product-description-model h3{
    margin-left: -10px;
    margin-bottom: 5px;
    padding: 10px;
}

.product-detail-model h3{
    margin-left: 30px;
}

.table-specifications {
    display: table;
    border-collapse: collapse;
    width: 100%;
    padding:10px;
    margin-left: 30px;
    margin-top: 10px;
    width: 80%;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
}

    
.table-specifications th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;

}

.table-specifications td {
    border:1px solid #C0C0C0;
    padding:5px;
}


.product-specification {
    font-weight: bold;
}

/* Footer*/

.footer{
    padding-top: 10px;
    background-color: rgb(217,217,217);
    text-align: center;
    border-top: white 2px solid ;
}
.logo-footer{
    width: 50%;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-left2 ul{
    list-style: none;
}

.footer-left2 a{
    text-decoration: none;
    color: rgb(10,74,173);
}

.footer-left2 i{
    font-size: 40px;
    padding:10px 0 ;
}

.footer-center{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 10px 0;
}
.footer-right p{
    font-size: 12px;
}

.derechos{
    font-size: 10px;
}
@media(min-width:480px){
    .logo-mini{
        display: none;
    }
    .logo{
        display: block;
        width: 150px;
        padding-top: 10px;
    }
    .main-header-center-right{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media(min-width:769px){
    .main-header{
        display: flex;
        justify-content: space-between;
}
    .main-header-center{
        flex-grow: 1;
        padding-left: 50px;
    }
    .main-header-center-right{
        padding-right: 90px;
        padding-left: 240px;
    }
    .footer-center{
        padding: 0;
        margin: 0;
        border-left:0;
        border-right:0;
        border-bottom:0;
        border-top:0;
    }
    .main-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-right{
        border-top: white 2px solid;
        padding-top: 20px;
    }

}
@media(min-width:1200px){
    .footer-right{
        border-top: 0;
        margin-top: -20px;
        max-width: 40%;
    }
    .footer-center{
        padding: 0 10px ;
        margin-right: 20px;
    }
    .main-footer{
        padding-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}




