<%- include('partials/head.ejs')%>
<title>Carrito</title>
<link rel="stylesheet" href="/css/stylesCarritoCompras.css">
</head>
<link rel="shortcut icon" href="/images/logo-mini-title.svg" style="color: rgb(10,74,173);">
<header class="centrar-header">
  <div class='container-header'>
    <div class='container-header-logo'>
      <a href="/"><img class=logo src="/images/logo.png"></a>
      <a href="/"><img class=logo-mini src="/images/logo-mini.png"></a>
    </div>
    <div class='container-header-ss'>
      <i class="fas fa-lock" width=10px height=10px></i><br>
      <i>Sitio seguro</i>
    </div>
  </div>
</header>
<body>

<div class='container'> 
  <div class='carrito-compras'>
    <div class='mi-carrito-header'>
    <h1>MI CARRITO</h1>
  </div>
    <div class='carrito-main'> 
      <div class='carrito-main-left'>
        <div class='carrito-main-left-products'>
          <div class='product-image'>
            <img src="/images/tele1.png" alt="smartTV">
          </div>
          <div class='product-description'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
          <div class="cantidad-precio">
            <label for="cantidad">Cantidad</label>
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
          <div class='product-price'>$65.000</div>
          </div>
          <div class='delete-producto'>
            <button class="delete-button" type="delete"><i class="fas fa-trash-alt"></i></button>
          </div>
          </div>
          <div class='carrito-main-left-products'>
            <div class='product-image'>
              <img src="/images/aire1.jpg" alt="Aire Acondicionado">
            </div>
            <div class='product-description'>
              <p>AIRE ACONDIONADO SPLIT ELECTRA 3400W</p>
            </div>
            <div class="cantidad-precio">
              <label for="cantidad">Cantidad</label>
              <select name="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class='product-price'>$45.000</div>
            </div>
            <div class='delete-producto'>
              <button class="delete-button" type="delete"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
      </div>
      <div class='carrito-main-right'>
        <div class='carrito-main-right-desc'>
          <div class='codigo-descuento-text'>¿Tenés código de descuento?</div>
          <div class='codigo-descuento-insert'>
            <div class='codigo'>
              <input class="input-discount" type="value" name="discount" placeholder="Inserte aquí su cupón">
            </div>
            <br>
            <div class='aplicar-codigo'>
              <button class="aplicar-button" type="submit">Ingresar</button>
            </div>
          </div>
        </div>
        <div class='box-compra'>
        <div class='carrito-main-right-subtotal'>
          <div class='subtotal-text'>Subtotal:</div>
          <div class='subtotal-monto'>$110.000</div>
        </div>
        <div class="carrito-descuento">
          <div class="aplicar-descuento">Descuento:</div>
          <div class="descuento-cupon">10%</div>
        </div>
        <div class='carrito-main-right-total'>
          <div class='total-text'>Total:</div>
          <div class='total-monto'>$99.000</div>
        </div>
        <div class="acomodar-botones">
          <div class='carrito-main-right-botton1'>
            <form action="/pagar">
             <input type="submit" value="Finalizar compra" class='finalizarcompra-button' />
            </form>
        </div>
          <div class='carrito-main-right-botton2'>
            <form action="/">
             <input type="submit" value="Continua comprando" class='continuarcomprando-button' />
            </form>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="recomendaciones"><h2>RECOMENDACIONES</h2></div>
    <div class='recomendaciones-banner'>
      <div class='recomendacion'>
        <div class='recomendacion-producto'>
          <div class='recomendación-producto-photo'>
            <img src="/images/tele1.png" alt="smartTV">
          </div>
          <div class='recomendación-producto-descripcion'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
        </div>
        <div class='recomendacion-agregar-carrito'>
          <input type="submit" value="Agregar al carrito" class='agregaralcarrito-button' />
        </div>
      </div>
      <div class='recomendacion'>
        <div class='recomendacion-producto'>
          <div class='recomendación-producto-photo'>
            <img src="/images/tele1.png" alt="smartTV">
          </div>
          <div class='recomendación-producto-descripcion'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
        </div>
        <div class='recomendacion-agregar-carrito'>
          <input type="submit" value="Agregar al carrito" class='agregaralcarrito-button' />
        </div>
      </div>
      <div class='recomendacion'>
        <div class='recomendacion-producto'>
          <div class='recomendación-producto-photo'>
            <img src="/images/tele1.png" alt="smartTV">
          </div>
          <div class='recomendación-producto-descripcion'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
        </div>
        <div class='recomendacion-agregar-carrito'>
          <input type="submit" value="Agregar al carrito" class='agregaralcarrito-button' />
        </div>
      </div>
      <div class='recomendacion'>
        <div class='recomendacion-producto'>
          <div class='recomendación-producto-photo'>
            <img src="/images/tele1.png" alt="smartTV">
          </div>
          <div class='recomendación-producto-descripcion'>
            <p>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</p>
          </div>
        </div>
        <div class='recomendacion-agregar-carrito'>
          <input type="submit" value="Agregar al carrito" class='agregaralcarrito-button' />
        </div>
      </div>
    </div>  
</div> 

<%- include('partials/footer.ejs')%>

</body>