<%- include('partials/head.ejs')%>
<title>Aires Acondicionados</title>
<link rel="stylesheet" href="/css/stylesCategoria.css">
</head>

<body>
  
  <%- include('partials/header.ejs')%>

  <main class="cat-aire">
    <br>
    <h2>Aires Acondicionados</h2>
    <br>
    <section class="productos">
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire1.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire2.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire3.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire4.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire5.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire6.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire7.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
      <article>
        <a href="/productos/detalleProducto"><img src="/images/aire8.jpg" alt="Aire"></a>
        <p class="precio">$$$$</p>
        <p class="modelo">####</p>
      </article>
    </section>
  </main>
 
  <%- include('partials/footer.ejs')%>

</body>