<html>
    <link rel="stylesheet" href="/css/not-found.css">
    <body class="text">
        <h1>Error 404! No encontramos lo que estás buscando!</h1>
        <h3>Probá en los siguientes links</h3>
        <p><a href="/home">Inicio</a></p>
        <p><a href="/categorias/1">Aires</a></p>
        <p><a href="/categorias/2">Televisores</a></p>
        <p><a href="/categorias/3">Hornos</a></p>
        <p><a href="/categorias/4">Heladeras</a></p>
        <p><a href="/categorias/5">Lavarropas</a></p>
        <p><a href="/users/login">Login</a></p>
        <p><a href="/users/registro">Registro</a></p>
    </body>
</html>