<html>
    <link rel="stylesheet" href="/css/not-found.css">
    <body class="text">
        <h1>Error 404! No encontramos lo que estás buscando!</h1>
        <h3>Probá en los siguientes links</h3>
        <div class="fondo-transparente">
            <span><a href="/home">Inicio</a></span>
        </div>
        <div class="fondo-transparente">
            <span><a href="/categorias/1">Aires</a></span>
        </div>
        <div class="fondo-transparente">
            <span><a href="/categorias/2">Televisores</a></span>
        </div>
        <div class="fondo-transparente">
            <span><a href="/categorias/3">Hornos</a></span>
        </div>
         <div class="fondo-transparente">
            <span><a href="/categorias/4">Heladeras</a></span>
        </div>
        <div class="fondo-transparente"> 
            <span><a href="/categorias/5">Lavarropas</a></span>
        </div>
        <div class="fondo-transparente"> 
            <span><a href="/users/login">Login</a></span>
        </div>
        <div class="fondo-transparente"> 
            <span><a href="/users/registro">Registro</a></span>
        </div>
    </body>
</html>