<header class="acomodar-header">
  <div class="main-header">
    <div class="main-header-left">
      <a href="/"><img class=logo src="/images/logo.svg" style="color: #284b63	;"></a>
    </div>
    <div class="main-header-center">
          <form action="productos" method="POST" class="bar"></form>
          <label"></label>
          <input type="text" name="buscador" placeholder="Que buscabas?" class="buscador">
          <button class="lupita"><i class="fas fa-search"></i></button>
          </form>
   </div>
   <div class="main-header-right">
    <% if (!locals.estaLoggeado) { %>        
      <ul class="user">
        <li><a href="/users/login" class="user-nav" id="nombre-user">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/users/registro" class="user-nav" id="nombre-user">Registrate<i class="fas fa-user-plus"></i></a></li>
        <a href="/carritoCompras" class="agrandar-carrito" ><i class="fas fa-shopping-cart"></i></a>
      </ul>
    <% }else { %>
      <ul class="user">
        <li><a href="#" class="user-nav" id="nombre-user"><i class="fas fa-user-alt"></i> 
        <%= locals.usuarioLoggeado.nombre %>  
        <img src="/images/chevron-down-solid.svg" class="arrow-usuario" alt="arrow"> </a>
          <ul class="nav-des">
            <li><a href="/users/perfil/<%= locals.usuarioLoggeado.id %>" class="user-nav">Perfil <i class="fas fa-user-circle"></i></a></li>
            <% if (locals.usuarioLoggeado.administrador == true) { %>  
            <li><a href="/users/listado" class="user-nav">Listado de usuarios  <i class="fas fa-users"></i></a></li>
            <li><a href="/productos/listado" class="user-nav">Listado de productos  <i class="fas fa-shopping-basket"></i></a></li>
            <% } %> 
            <li><a href="/users/logout" class="user-nav">Cerrar Sesion  <i class="fas fa-sign-out-alt"></i></a></li>
          </ul>
        </li>
        <a href="/carritoCompras" class="agrandar-carrito"><i class="fas fa-shopping-cart"></i></a>
      </ul>
    <% } %> 
   </div>
   <div class="burger-menu">
     <ul class="burger-icon">
       <li><a href="#" class="burger-btn"></a><i class="fas fa-bars"></i>
        <div id="menu-style">
            <ul class="burger-items">
              <% if (!locals.estaLoggeado) { %>    
              <li><a href="/users/login" class="burger-links">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="/users/registro" class="burger-links">Registrate<i class="fas fa-user-plus"></i></a></li>
              <li><a href="#" id="categorias-btn" class="burger-links">Categorias <img src="/images/chevron-down-solid.svg" class="burger-arrow"></a>
                <ul class="burger-items mostrar-categorias">
                  <li><a href="/categorias/1" class="links-lista">Aires</a></li>
                  <li><a href="/categorias/2" class="links-lista">Televisores</a></li>
                  <li><a href="/categorias/3" class="links-lista">Cocinas</a></li>
                  <li><a href="/categorias/4" class="links-lista">Heladeras</a></li>
                  <li><a href="/categorias/5" class="links-lista">Lavarropas</a></li>
                </ul>
              </li>
              <% }else { %>       
              <li><a href="/users/perfil/<%= locals.usuarioLoggeado.id %>" class="burger-links">Perfil <i class="fas fa-user-circle"></i></a></li>
              <li><a href="#" id="categorias-btn" class="burger-links">Categorias <img src="/images/chevron-down-solid2.svg" class="burger-arrow"></a>
                <ul class="burger-items mostrar-categorias">
                  <li><a href="/categorias/1" class="links-lista">Aires</a></li>
                  <li><a href="/categorias/2" class="links-lista">Televisores</a></li>
                  <li><a href="/categorias/3" class="links-lista">Cocinas</a></li>
                  <li><a href="/categorias/4" class="links-lista">Heladeras</a></li>
                  <li><a href="/categorias/5" class="links-lista">Lavarropas</a></li>
                </ul>
              </li>
              <% if (locals.usuarioLoggeado.administrador == true) { %>  
                <li><a href="/users/listado" class="burger-links">Listado de usuarios  <i class="fas fa-users"></i></a></li>
                <li><a href="/productos/listado" class="burger-links">Listado de productos  <i class="fas fa-shopping-basket"></i></a></li>
              <% } %> 
              <li><a href="/users/logout" class="burger-links">Cerrar Sesion  <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
          </li>
          <% } %> 
        </ul>
      </div>
  </div>
  <script src="/js/desplegable.js"></script>
  <script src="/js/burgerMenu.js"></script>
</header>

