<header class="acomodar-header">
  <div class="main-header">
    <div class="main-header-left">
      <a href="/"><img class=logo src="/images/logo.png"></a>
    </div>
    <div class="main-header-center">
          <form action="productos" method="POST" class="bar"></form>
          <label"></label>
          <input type="text" name="buscador" placeholder="Que buscabas?" class="buscador">
          <button class="lupita"><i class="fas fa-search"></i></button>
          </form>
   </div>
   <div class="main-header-right">
    <% if (!locals.estaLoggeado) { %>        
      <ul class="user">
        <li><a href="/users/login" class="user-nav">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/users/registro" class="user-nav">Registrate<i class="fas fa-user-plus"></i></a></li>
        <a href="/carritoCompras" class="agrandar-carrito"><i class="fas fa-shopping-cart"></i></a>
      </ul>
    <% }else { %>
      <ul class="user">
        <li><a href="" class="user-nav">Hola <%= locals.usuarioLoggeado.nombre %>  <i class="fas fa-user-alt"></i></a></li>
        <li><a href="/users/logout" class="user-nav">Cerrar Sesion  <i class="fas fa-sign-out-alt"></i></a></li>
        <a href="/carritoCompras" class="agrandar-carrito"><i class="fas fa-shopping-cart"></i></a>
      </ul>
    <% } %> 
   </div>
   <div class="burger-menu">
      <p><i class="fas fa-bars"></i></p>
   </div>
  </div>
</header>


<a href="/carritoCompras"><i class="fas fa-shopping-cart"></i></a>