<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/stylesAgregarProducto.css">
<title>Crear producto</title>
</head>
<body>

    <%- include('../partials/header.ejs')%>

    <main class="create-registro">
        <h2 class="titulo">AGREGAR PRODUCTO</h2>
        <section class="create-form">
            <form action="/productos/agregar" method="POST" class="create">
                <div class="create-container">
                    <label for="nombre">Nombre de producto:</label>
                    <br>
                    <br>
                    <input class="input-create" type="text" name="nombre" required>
                    <br>
                    <br>
                    <label for="descripcion">Descripción de producto</label>
                    <br>
                    <br>
                    <textarea name="descripcion" class="description-create"></textarea>
                    <br>
                    <br>
                    <label for="stock">Stock</label>
                    <br>
                    <br>
                    <input class="input-create-precio" type="number" name="stock" required>
                    <br>
                    <br>
                    <label for="imagen">Imagen</label>
                    <br>
                    <br>
                    <input class="input-create" type="file" name="photo" accept="jpg,jpeg" multiple required>
                    <br>
                    <br>
                    <label for="categoria">Categoría</label>
                    <br>
                    <br>
                    <select class="input-create" name="categoria" required>
                        <option value="">Seleccionar</option>
                        <option value="televisores">Televisores</option>
                        <option value="aires">Aires Acondicionados</option>
                        <option value="lavarropas">Lavarropas</option>
                        <option value="hornos">Hornos</option>
                        <option value="heladeras">Heladeras</option>
                    </select>
                    <br>
                    <br>
                    <label for="precio">Precio</label>
                    <br>
                    <br>
                    <input class= "input-create-precio" type="number" name="price" placeholder="$50.000" required>
                </div>
                <br>
                <div class="button-container">
                    <button class="create-button" type="submit">Agregar producto</button>
                    <button class="create-button" type="reset">Borrar</button>
                    </div>
            </form>
        </section>
        <br>
        <br>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>