<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Electro Hogar</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesDetalleProducto.css">
    <script src="https://kit.fontawesome.com/117d4d8bac.js" crossorigin="anonymous"></script>
    <link href = "https://fonts.googleapis.com/css2? family = Karantina: wght @ 300 & display = swap" rel = "stylesheet">
</head>
<body>
  <header class="main-header">
      <div class="main-header-left">
        <a href="/"><img class=logo src="/images/logo.png"></a>
        <a href="/"><img class=logo-mini src="/images/logo-mini.png"></a>
      </div>
      <div class="main-header-center">
        <div class="main-header-center-left">
            <form action="productos" method="POST" class="bar"></form>
            <label"></label>
            <input type="text" name="buscador" placeholder="Que buscabas?" class="buscador">
            <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="main-header-center-right">
            <ul class="user">
              <li><a href="/users/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="/users/registro">Registrate<i class="fas fa-user-plus"></i></a></li>
              </ul>
        </div>
      </div>
     <div class="main-header-right">
                <a href="/carritoCompras"><i class="fas fa-shopping-cart"></i></a> 
     </div>
  </header>
  <div class='container-article'>
<article class='article'>
  <div class='article-main'>
  <div class='article-title'>
    <h1>SMART HISENSE 50 PULGADAS 4K UHD 50A64GSV</h1>
  </div>
  <div class='article-top'>
    <div class='article-top-right'>
        <img src="/images/tele1.jpg" alt="Smart TV Hisense 50 pulgadas">
    </div>
    <div class='article-top-left'>
      <div class='box-condiciones-pago'>
        <div class='box-precio'>
          <span class='precio-contado'><strong>Precio:</strong></span>
          <span class='precio-contado'>$65.000</span>
        </div>
        <div class='box-tarjetas'>
          <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/5ca9b33896079f3d56ac0a01038d568a.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $ 5.166.58</i>
            </div>
          </div>
          <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/d91d7904a85783a86377e30feb87e7ff.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $ 5.166.58</i>
            </div>
          </div>
           <div class='tarjetas'>
            <div class='tarjeta-imagen'>
              <img src="https://images.fravega.com/f64/4ccbd7df1af0344289b45659aab25bbd.png" alt="mastercard" widht=20>
            </div>
            <div class='tarjeta-cuotas'>
              <i>12 cuotas sin interés de $ 5.166.58</i>
            </div>
          </div>
        </div>
        <div class='box-comprar'>
          <form action="/carritoCompras">
            <input type="submit" value="Comprar" class='comprar-button' />
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class='article-bottom'>
    <div class='article-descripcion'>
      <div class='descripcion-title'>
        <h3>Descripción del producto</h3>
      </div>
      <div class='descripcion-text'>
        <p>Led Smart. 50" 4K UHD. Resolucion 3840 x 2160. HDMI: 3 (v2.0. HDMI 1 compatible con ARC).
          Wi Fi interno (normas 802.11 b/g/n hasta 150 MBps, 1T1R. Antena integrada). 
          USB: 2 conectores hembra tipo A (2.0). Entrada de video compuesto: 1 RCA.
           Incluye: soporte tipo pie x2, guia rapida x1, 
           manual legal x1, bolsa con tornillos para la base x1, 
           control remoto x1, pilas AAA x2, cable de alimentacion x1.</p>
      </div>
    </div>
    <div class='article-table'>
      <div class='table-title'>
        <h3>Especificaciones técnicas</h3>
      </div>
      <div class='table'>
        <table class='table-specifications'>
          <tbody>
          <tr>
            <td class='product-specification'>Alto:</td>
            <td class="specification-value">70.9</td>
          </tr>
          <tr>
            <td class='product-specification'>Color:</td>
            <td class="specification-value">Negro</td>
          </tr>
          <tr>
            <td class='product-specification'>Garantía:</td>
            <td class="specification-value">12</td>
          </tr>
          <tr>
            <td class='product-specification'>Modelo:</td>
            <td class="specification-value">50A64GSV</td>
          </tr>
          <tr>
            <td class='product-specification'>Origen:</td>
            <td class="specification-value">ARGENTINA:</td>
          </tr>  
          <tr>
            <td class='product-specification'>Peso:</td>
            <td class="specification-value">9.9</td>
          </tr>      
          <tr>
            <td class='product-specification'>Profundidad:</td>
            <td class="specification-value">22.6</td>
          </tr>   
          <tr>
            <td class='product-specification'>Bluetooth:</td>
            <td class="specification-value">Si</td>
          </tr>  
          <tr>
            <td class='product-specification'>Brillo:</td>
            <td class="specification-value">250</td>
          </tr> 
          <tr>
            <td class='product-specification'>Entrada de video compuesto:</td>
            <td class="specification-value">Si</td>
          </tr> 
          <tr>
            <td class='product-specification'>Formato de pantalla:</td>
            <td class="specification-value">4K UHD</td>
          </tr> 
          <tr>
            <td class='product-specification'>Frecuencia de barrido:</td>
            <td class="specification-value">60</td>
          </tr>      
          <tr>
            <td class='product-specification'>HDMI:</td>
            <td class="specification-value">Si</td>
          </tr>   
          <tr>
            <td class='product-specification'>Salida de audio:</td>
            <td class="specification-value">Si</td>
          </tr>    
          <tr>
            <td class='product-specification'>Sintonizador TDA:</td>
            <td class="specification-value">Si</td>
          </tr>   
          <tr>
            <td class='product-specification'>Tamaño de pantalla:</td>
            <td class="specification-value">50</td>
          </tr>       
          <tr>
            <td class='product-specification'>Wi-Fi:</td>
            <td class="specification-value">Si</td>
          </tr>  
          <tr>
            <td class='product-specification'>USB:</td>
            <td class="specification-value">Si</td>
          </tr>  
          <tr>
            <td class='product-specification'>Tecnología Smart:</td>
            <td class="specification-value">Si</td>
          </tr>                 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
</div>
  <footer class="footer">
    <div class="main-footer">
      <div class="footer-left">
        <div class="footer-left1">
          <a href="/"><img class=logo-footer src="/images/logo.png"></a>
        </div>
        <div class="footer-left2">
          <ul class="redes">
            <li><a href="https://facebook.com/electroHogar" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/electroHogar" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/electroHogar" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-center">
        <p><strong> Venta telefonica:0800-333-5555 <i class="fas fa-phone-alt"></i></strong></p>
        <p>Horarios: Lu a Vi de 10hs a 18hs</p>
        <br>
        <p><strong>Atención al cliente:0800-333-2222 <i class="fas fa-phone-alt"></i></strong></p>
        <p>Las 24hs</p>
      </div>
      <div class="footer-right">
        <p><strong>© Copyright 2021 | Todos los derechos reservados electroHogar.com.
           electroHogar S.A | Capital Federal | Argentina </strong></p>
           <br>
           <p class="derechos">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos 
             publicados está sujeta a la verificación de stock. Los precios online y 
             los planes de financiación para los productos presentados/publicados en 
             www.electroHogar.com.ar son válidos exclusivamente para la compra vía 
             internet en las páginas antes mencionadas.Las especificaciones técnicas 
             y descripciones están sujetas a cambios sin previo aviso.</p>
      </div>
    </div>
  </footer>
</body>
