<%- include('../partials/head.ejs')%>
<title>Ingresá</title>
<link rel="stylesheet" href="/css/stylesLogin.css">
</head>

<body>
  
  <%- include('../partials/header.ejs')%>

  <main class="main-login">   
    <br>  
    <section class="login-form">
      <form action="/users/login" method="POST" class="login">
        <p class="text-login"><strong>INGRESAR CON MAIL Y CONTRASEÑA</strong><p>
          <br>
        <div class="form-container">
          <label for="email">Email:</label>
          <br> 
          <br>
          <input class="input-login" type="email" name="email" placeholder="ejemplo@hotmail.com" required>
          <br>
          <br>
        <label for="password">Contraseña:</label>
          <br>
          <br>
          <input class="input-login" type="password" name="password" required>
          <br>
          <br>
        </div>
        <div class="forgot">
          <span><a href="#">Olvidé mi usuario</a></span>
          <br>
          <span><a href="#">Olvide mi contraseña</a></span>
        </div>
          <br>
        <div>
        <label>Recuérdame</label>
        <input type="checkbox" name="recordar">
      </div>
          <br>
      <div class="button">
          <button class="login-button" type="submit">Ingresar</button>
      </div>
      <div class="crear-cuenta-nueva">
        <p>No tenes una cuenta?</p>
        <a href="/users/registro">Crear cuenta</a>
      </div>
      <br>
    </form>
  </section> 
  <br>
  <br>
  <br>
  <br>
</main>

<%- include('../partials/footer.ejs')%>

</body>