<%- include('../partials/head.ejs')%>
<title>Registrate</title>
<link rel="stylesheet" href="/css/stylesRegistro.css">
</head>

<body>
  
  <%- include('../partials/header.ejs')%>
  
  <main class="main-registro">    
    <section class="registro-form">
      <form action="registro" method="POST" class="registro">
        <p class="text-registro"><strong>REGISTRATE Y EMPEZÁ A COMPRAR</strong><p>
          <br>
        <div class="form-container">
          <label>Nombre:</label>
          <br>
          <br>
          <input class="input-registro" type="text" name="nombre" required>
          <br>
          <br>
          <label>Apellido:</label>
          <br>
          <br>
          <input class="input-registro" type="text" name="apellido" required>
          <br>
          <br>
          <label>Email:</label>
          <br>
          <br>
          <input class="input-registro" type="email" name="email" placeholder="ejemplo@hotmail.com" required>
          <br>
          <br>
          <label>Contraseña:</label>
          <br>
          <br>
          <input class="input-registro" type="password" name="password" required>
          <br>
          <br>
          <label>Repita su contraseña:</label>
          <br>
          <br>
          <input class="input-registro" type="password" name="password" required>
        </div>
          <br>
        <div class="button">
          <button class="button-registro" type="submit">Crear cuenta</button>
        </div>
          <br>
        </form>
        <div class="iniciar-sesion">
          <p>Ya tenes una cuenta?</p>
          <a href="/users/login">Ingresá acá</a>
        </div>
    </section> 
    <br>
    <br>
  </main>
 
  <%- include('../partials/footer.ejs')%>

</body>