<%- include('../partials/head.ejs')%>
<title>Registrate</title>
<link rel="stylesheet" href="/css/stylesRegistro.css">
</head>

<body>
  
  <%- include('../partials/header.ejs')%>
  
  <main class="main-registro">    
    <section class="registro-form">
      <p class="text-registro"><strong>REGISTRATE Y EMPEZÁ A COMPRAR</strong><p>
        <br>
        <div class="form-container">
          <form action="/users/registro" method="POST" class="registro" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <br>
            <br>
            <input class="input-registro <%= locals.errors && errors  %>" type="text" name="nombre" >
            <br>
            <br>
            <label for="apellido">Apellido:</label>
            <br>
            <br>
            <input class="input-registro" type="text" name="apellido">
            <br>
            <br> 
            <label for="email">Email:</label>
            <br>
            <br>
            <input class="input-registro" type="email" name="email" placeholder="ejemplo@hotmail.com">
            <br>
            <br>
            <label for="imagen">Imagen de perfil:</label>
            <br>
            <br>
            <input name="imagen" class="input-registro" type="file"> 
            <br>
            <br>
            <label for="password">Contraseña:</label>
            <br>
            <br>
            <input class="input-registro" type="password" name="password">
            <br>
            <br>
            <label for="password2">Repita su contraseña:</label>
            <br>
            <br>
            <input class="input-registro" type="password" name="password2">
        </div>
          <br>
        <div class="button">
          <button class="button-registro" type="submit">Crear cuenta</button>
        </div>
          <br>
        </form>
        <div class="iniciar-sesion">
          <p>Ya tenes una cuenta?</p>
          <a href="/users/login">Ingresá acá</a>
        </div>
    </section> 
    <br>
    <br>
  </main>
 
  <%- include('../partials/footer.ejs')%>

</body>